<% if @current_user.role == "owner" %>
  <div class="row">
      <p class="col-4"> NAME OF MENU </p>
      <p class="col-4"> STATUS </p>
      <p class="col-4"> ACTIVE </p>
  </div>

  <section>
    <% Menu.all.each do |item| %>
      <div class="row">
        <p class="col-4"> <%= item.name %> </p>
        <% if item.active_menu %>
          <p class="col-4"> active </p>
        <% else %>
          <p class="col-4"> ------- </p>
        <% end %>
        <%= form_with url: "/menus/#{item.id}",local:true, method: "PUT" do %>
          <p> <input type="submit" value="Activate" class="activate-button"> </p>
        <% end %>
      </div>
    <% end %>
  </section>
<% end %>

<h1 class="menu-tag"> MENU </h1>
<section class="menu-rendering">
  <%= render partial: "menu_items-section", locals: {
    section_title: "starters",
    menuitems: MenuItem.starter,
  } %>

  <%= render partial: "menu_items-section", locals: {
    section_title: "breakfast",
    menuitems: MenuItem.breakfast,
    } %>

  <%= render partial: "menu_items-section", locals: {
    section_title: "lunch",
    menuitems: MenuItem.lunch,
  } %>

  <%= render partial: "menu_items-section", locals: {
    section_title: "dinner",
    menuitems: MenuItem.dinner,
  } %>

  <%= render partial: "menu_items-section", locals: {
    section_title: "dessert",
    menuitems: MenuItem.dessert,
  } %>
</section>
