<section class="Signing-page">

  <p class="NewUsers-title"> WELCOME CUSTOMER </p>

  <section class="UsersNew">

    <%= form_for(:order, url: orders_path) do |form| %>
     <div class="Form-section">
        <p class="FormInput-label">NUMBER</p>
        <%= form.number_field :quantity ,class:"Form-input" %>
      </div>

      <div class="Form-section">
        <p class="FormInput-label">NAME OF ITEM</p>
        <%= form.text_field :name ,class:"Form-input" %>
      </div>

      <div class="Form-section">
        <p class="FormInput-label">PRICE</p>
        <%= form.number_field :price ,class:"Form-input"%>
      </div>

      <div>
        <%= form.submit "CART", class:"Form-submit" %>
      </div>
    <% end %>
    </section>
</section>
