<!DOCTYPE html>
<html>
  <head>
    <title>Restaurant</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

 <nav>
  <% if @current_user %>
    <ul class="navbar" id="dropdownclick">
      <% if @current_user.role == "owner"%>
        <li><a href=/about> HOME </a></li>
        <li><a href=/menus/new> ADD-MENU </a></li>
        <li><a href=/menu_items> MENU </a></li>
        <li><a href=/users> USERS </a></li>
        <li><a href=/orders/new> ORDER </a></li>
        <li><a href=/order_items> WALK-IN </a></li>
        <li><a href=/reports> REPORTS </a></li>
        <li><%= link_to "MY-ACCOUNT", edit_user_path(id: @current_user.id), method: "get" %></li>
      <% elsif @current_user.role == "manager" %>
        <li><a href=/about> HOME </a></li>
        <li><a href=/menu_items> MENU </a></li>
        <li><a href=/orders/new> ORDER </a></li>
        <li><a href=/order_items> WALK-IN </a></li>
        <li><%= link_to "MY-ACCOUNT", edit_user_path(id: @current_user.id), method: "get" %></li>
      <% elsif @current_user.role == "user"%>
        <li><a href=/about> HOME </a></li>
        <li><a href=/menu_items> MENU </a></li>
        <li><a href=/order_items> CART </a></li>
        <li><a href=/order_items/new> MY-ORDERS </a></li>
        <li><%= link_to "MY-ACCOUNT", edit_user_path(id: @current_user.id), method: "get" %></li>

      <% end %>
      <li class="navbar-right"><%= link_to "SIGN-OUT", destroy_session_path, method: "delete" %></li>
      <li class="navbar-right"><p class="User-name">LOGGED-IN AS:  <%= @current_user.name %></p></li>
    </ul>
  <% end %>
</nav>

  <% if flash[:error] %>
    <div class="flash-message">
    <p class="flash-error">
      <%= flash[:error] %>
    </p>
    </div>
  <% elsif flash[:notice]%>
    <div class="flash-message">
    <p class="flash-notice">
      <%= flash[:notice] %>
    </p>
    </div>
  <% end %>

  <%= yield %>
  </body>
</html>
