<!DOCTYPE html>
<html>
  <head>
    <title>Restaurent</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  <% if @current_user %>
    <div class="headers">
      <p class="User-name">
      Welcome <%= @current_user.name %>
      </p>
      <%= button_to "BACK", about_path, method: "get" ,class: "backbutton"%>
    </div>
  <% end %>
    <%= yield %>
  </body>
</html>
